$baseSpace: 1em;
$scaleRatio: 2;
$space-m: $baseSpace;
$space-s: calc($space-m / $scaleRatio);
$space-xs: calc($space-s / $scaleRatio);
$space-l: calc($space-m * $scaleRatio);
$space-xl: calc($space-l * $scaleRatio);

$space-inset-xs: $space-xs;
$space-inset-s: $space-s;
$space-inset-m: $space-m;
$space-inset-l: $space-l;
$space-inset-xl: $space-xl;

$space-inset-squish-xs: $space-xs $space-s;
$space-inset-squish-s: $space-s $space-m;
$space-inset-squish-m: $space-m $space-l;
$space-inset-squish-l: $space-l $space-xl;

$space-stack-xs: $space-xs;
$space-stack-s: $space-s;
$space-stack-m: $space-m;
$space-stack-l: $space-l;
$space-stack-xl: $space-xl;

$space-inline-xs: $space-xs;
$space-inline-s: $space-s;
$space-inline-m: $space-m;
$space-inline-l: $space-l;
$space-inline-xl: $space-xl;

